* {

  border: 1px solid black;
}



.module-1 {
  width: 100%;
  height: 200px;
}

.item {
    width: 100%;
    border: 1px solid green;
    height: 80px;
}

.name {
  width: 40%;
  float: left;
}

.price {
  margin-left: 10px;
  width: 40%;
  float: left;
}



